* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label,
input {
    display: block;
}

div {
    border: 3px solid #666666;
    width: 400px;
    height: 600px;
    background-color: #F0F0F0;
}